.page1{
    height: 60px;
    background-color:rgb(13, 13, 71);
    padding-right: 50px;
    position: fixed;
    right: 0;
    left: 0;
}
.page1 ul{
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-left: 700px;
}
.page1 ul li{
    align-items: center;
    list-style: none;
    margin-left: 40px;
    font-family: fantasy;
    color: rgb(204, 200, 200);
    font-size: 17px;
}
.page2{
    position: relative;
    height: 700px;
    background-color: antiquewhite;
    top: 60px;
}
.gambar-teks {
    position: relative;
    width: 100%;
    text-align: center;
}

.gambar-teks img {
    width: 100%;
    height:700px;
}


.gambar-teks .teks {
    position: absolute;
    top:200px;
    left: 50px;
    background-color: transparent;
    padding: 5px;
    border-radius: 2px;
    text-align:justify;
    left: 210px;
}

.gambar-teks .teks p {
    font-size: 30px;
    color:black;
}
.kotak1{
    position: absolute;
    top:60%;
    left: 50px;
    background-color: rgb(161, 179, 236);
    padding: 5px;
    border-radius: 5px;
    left: 150px;
    font-size: 15px;
}
.page3{
    position: relative;
    height: 700px;
    background-color:rgb(57, 57, 233);
}
.page3 .kotak{
  position:absolute;
  width: 200px;
  height: 50px;
  left: 45%;
  top: 5%;
  background-color: rgb(2, 2, 49);
  border-radius: 5px;
  color: white;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
.page3 .kotak1{
    width: 300px;
    height: 200px;
    border-radius: 0px;
    top: 150px;
}
.page3 .kotak1 img{
    width: 300px;
    height: 200px;
    border-radius: 0px;
    top: 150px;
}
.page3 .kotak1 .teks{
    top: 150px;
    color:gold;
    left: 50%;
    margin-left: 90px;
   
}
.page3 .kotak1 .teks .teks1{
    color:white;
    text-align:center;
    margin-right: 100px;
    height: 50px;
}
.page3 .kotak2 img{
  position:absolute;
  width: 300px;
  height: 200px;
  left: 40%;
  top: 25%;
}
.page3 .kotak2 .teks{
    position: absolute;
    color:gold;
    left: 100%;
    margin-left: 40px;
    width: 300px;
    height: 200px;
    left: 40%;
    top: 55%;
}
.page3 .kotak2 .teks .teks1{
    color:white;
    margin: auto;
    text-align:center;
    margin-right: 110px;
    height: 50px;
}
.page3 .kotak3 img{
    margin-left: 930px;
    margin-top: 150px;
    width: 300px;
    height: 200px;
}
.page3 .kotak3 .teks{
    top: 150px;
    color:gold;
    margin-left: 1030px;
   
}
.page3 .kotak3 .teks .teks1{
    color:white;
    text-align:center;
    margin-right: 180px;
    height: 50px;
}




