.page1{
    height: 60px;
    background-color:rgb(13, 13, 71);
    padding-right: 50px;
    position: fixed;
    right: 0;
    left: 0;
}
.page1 ul{
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-left: 700px;
}
.page1 ul li{
    align-items: center;
    list-style: none;
    margin-left: 40px;
    font-family: fantasy;
    color: white;
    font-size: 17px;
}
.page2{
    position: relative;
    height: 700px;
    background-color: antiquewhite;
    top: 60px;
}
.page2 .content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.page2 .content{
    
}
